//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || '1. Development Process'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || '1. Development Process')
    meta(property="og:url" content=headers && headers.linkUrl || '/guide/s01_development_process')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    link(rel="stylesheet" href="//staging.stackblend.com/css/embed.css")
    
    style(type="text/css").
      .-fsb-self-c157db2c, .-fsb-preset-c157db2c { -fsb-reusable-name: section_title; -fsb-reusable-id: c157db2c; color: rgba(89, 158, 255, 1); font-family: Roboto; font-size: 24px; font-weight: 300; margin-top: 40px } .-fsb-self-c3dd84b8, .-fsb-preset-c3dd84b8 { -fsb-reusable-name: section_body; -fsb-reusable-id: c3dd84b8; font-family: Roboto; color: rgba(120, 120, 120, 1); font-weight: 100; font-size: 17px; margin-bottom: 15px; line-height: 22px; margin-top: 15px } .-fsb-self-92c92c54, .-fsb-preset-92c92c54 { writing-mode: vertical-lr; -webkit-writing-mode: vertical-lr; -ms-writing-mode: vertical-lr; font-family: Roboto; font-weight: 400; font-size: 18px; color: rgba(255, 255, 255, 1.0); -fsb-reusable-name: platform_banner_title; -fsb-reusable-id: 92c92c54 } .-fsb-self-a58d6027, .-fsb-preset-a58d6027 { padding-top: 10px; padding-bottom: 10px; padding-left: 10px; background: rgba(0, 106, 255, 1); position: fixed; top: 0px; right: 50px; width: 100px; -fsb-reusable-name: platform_banner; -fsb-reusable-id: a58d6027; z-index: 1000 } .-fsb-self-6b2aec79, .-fsb-preset-6b2aec79 { font-family: Roboto; font-size: 18px; line-height: 22px; font-weight: 300; color: rgba(120, 120, 120, 1); padding-left: 20px; padding-top: 9px; -fsb-reusable-name: menu_item_title; -fsb-reusable-id: 6b2aec79 } .-fsb-self-1214d00e, .-fsb-preset-1214d00e { font-family: Roboto; color: rgba(255, 255, 255, 1.0); background: rgba(89, 158, 255, 1); text-align: center; width: 40px; height: 40px; line-height: 40px; vertical-align: middle; border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px; font-size: 18px; -fsb-reusable-name: menu_item__bullet; -fsb-reusable-id: 1214d00e } .-fsb-self-566e307a, .-fsb-preset-566e307a { -fsb-reusable-name: menu_item; -fsb-reusable-id: 566e307a; margin-bottom: 7px } .-fsb-self-e8cdb85b, .-fsb-preset-e8cdb85b { -fsb-reusable-name: menu_container; -fsb-reusable-id: e8cdb85b; margin-top: 30px; margin-bottom: 30px } .-fsb-self-017c16e2, .-fsb-preset-017c16e2 { margin-top: 150px; font-family: Roboto; font-size: 48px; font-weight: 300; color: rgba(89, 158, 255, 1); margin-bottom: 20px; -fsb-reusable-name: header_title; -fsb-reusable-id: 017c16e2 } .-fsb-self-b4a866ac, .-fsb-preset-b4a866ac { font-family: Roboto; color: rgba(120, 120, 120, 1); font-weight: 100; font-size: 20px; line-height: 25px; -fsb-reusable-name: header_subtitle; -fsb-reusable-id: b4a866ac; margin-bottom: 30px } .-fsb-self-14e004a4, .-fsb-preset-14e004a4 { margin-bottom: 100px; -fsb-reusable-name: footer; -fsb-reusable-id: 14e004a4 }
  body
    
    .container-fluid.internal-fsb-begin(internal-fsb-guid="0")
      .row.internal-fsb-strict-layout.internal-fsb-begin-layout
        .internal-fsb-element.col-12.-fsb-preset-a58d6027(style={'-fsb-inherited-presets': 'a58d6027'}, internal-fsb-guid="e2c0bc63")
          .container-fluid
            .row.internal-fsb-strict-layout
              .internal-fsb-element.col-12.-fsb-preset-92c92c54(style={'-fsb-inherited-presets': '92c92c54'}, internal-fsb-guid="edeac1ac")
                | StackBlend
        .internal-fsb-element.col-8.offset-2.-fsb-preset-017c16e2(style={'-fsb-inherited-presets': '017c16e2'}, internal-fsb-guid="b27ab632")
          | Understand Development Process
        .internal-fsb-element.col-8.offset-2.-fsb-preset-b4a866ac(style={'-fsb-inherited-presets': 'b4a866ac'}, internal-fsb-guid="ec6795c0")
          | This section will explain how experts in the software industry work together and bundle their works into a software masterpiece.
        .internal-fsb-element.col-8.offset-2.-fsb-self-c157db2c(internal-fsb-guid="c157db2c")
          | Development Iteration
        .internal-fsb-element.col-8.offset-2.-fsb-self-c3dd84b8(internal-fsb-guid="c3dd84b8")
          | Every software starts from an idea, that may come from an entrepreneur or brainstorm session among colleagues, in the form of a sketch or drawing. And then, while some of the software engineers might start proving the possibility of concept, a designer who specializes in user interface and experience design may start drawing and blending his/her idea into a graphics editor and hand it to a team of software engineers to start coding it.
          div
            br
          div
            | Next, the engineering folks will separate the design into several feature branches, assign works, and start coding in their-self environment from the same boilerplate, a develop branch.
          div
            br
          div
            | While it may take time to finish, the software engineers have to test it along the way, too, but they might not guarantee for bugless, which some companies might hire an additional tester to perform it. After they finish the job, they will ask for a code review, called a pull-request, and then modify their code from feedback until fully baked. Once the pull-request gets accepted, they will merge their changes back into the centralized develop branch.
          div
            br
          div
            | Because all of the changes may not be guaranteed for bugless, a staging branch will duplicate from the develop branch, deploy on the server and become dog food, where everyone in the company is able to try and report any bugs that they have found until all majority of the problems get solved. Then they can close the iteration, called a milestone, and begin a new consecutive one.
        .internal-fsb-element.col-8.offset-2.-fsb-preset-c157db2c(style={'-fsb-inherited-presets': 'c157db2c'}, internal-fsb-guid="d6d95379")
          | Criticalness of Bugs
        .internal-fsb-element.col-8.offset-2.-fsb-preset-c3dd84b8(style={'-fsb-inherited-presets': 'c3dd84b8'}, internal-fsb-guid="78356a71")
          | We separate bugs into 5 priorities, P0 - P4, ordered from hazard to insignificant error.
          |                 
          div
            br
          div
            | P0: are bugs that stopping servers and services from running.
          div
            | P1: are bugs that preventing core functionalities from working properly.
          div
            | P2: are bugs that preventing some features from working properly and don't have any workarounds for them.
          div
            | P3: are bugs that preventing some features from working properly but have some workarounds for them.
          div
            | P4: are bugs relate to the attractiveness or pleasantness of the system.
          div
            br
          div
            | For most of the company doesn't take care of P4 that much, but a company like Apple takes care of every P4, which makes every product of Apple charming and pleasurable.
        .internal-fsb-element.col-8.offset-2.-fsb-preset-c157db2c(style={'-fsb-inherited-presets': 'c157db2c'}, internal-fsb-guid="1c840bc3")
          | Managing Code on GitHub
        .internal-fsb-element.col-8.offset-2.-fsb-preset-c3dd84b8(style={'-fsb-inherited-presets': 'c3dd84b8'}, internal-fsb-guid="ca6ada63")
          | StackBlend is based on GitHub as a center of merging works, called repository. It will push every resource and script to the repository and guarantee for a self-relying deployment without StackBlend. At first, your project will fork from a core system, designed for StackBlend, which will be improved over time with new features or either patched for security holes by our engineers, so that you can pull for an improvement later. You may extend the unique capabilities of your business on top of that, and every improved one forked from the core system are your assets under MIT license.
          div
            br
          div
            | Moreover, you can use it to perform a check of their working routine, so that you can handle human resources of a specific individual more efficiently, make a right question based on their actual performance, understand their goal, and effort to shift their attitude.
          div
            br
          div
            | Furthermore, GitHub makes sure that every code paths modified by your software engineers will be trackable so that your security team can investigate for any relating illicit which has been occurred to decide for further action.
          div
            br
        .internal-fsb-element.col-12.-fsb-self-14e004a4(internal-fsb-guid="14e004a4")
          .container-fluid
            .row.internal-fsb-strict-layout
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = functionName;
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key];
                          var element = this.getElementUsingGUID(guid);
                          element.addEventListener(eventName, this[functionName].bind(this), false);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet" class="internal-fsb-font">
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,100;1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,300;1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,400;1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,500;1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,700;1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,900&amp;display=swap" rel="stylesheet" class="internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    script(type="text/javascript" src="https://unpkg.com/react@16/umd/react.production.min.js")
    script(type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
    script(type="text/javascript" src="/js/Site.bundle.js")

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.