
link(rel="icon" href='')
link(rel="stylesheet" href="/css/embed.css")
link(rel="stylesheet" type="text/css" href="/js/libraries/bootstrap@4/bootstrap-4.4.1.min.css")

style(type="text/css").
  .internal-fsb-element.-fsb-self-bb841183, .internal-fsb-element.-fsb-preset-bb841183 { -fsb-reusable-id: bb841183; -fsb-reusable-name: v1_reply; -webkit-border-radius: 4px 4px 4px 4px; background: rgba(247, 247, 247, 1); border-radius: 4px 4px 4px 4px; margin-bottom: 5px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; padding-top: 10px } .internal-fsb-element.-fsb-self-281067ca, .internal-fsb-element.-fsb-preset-281067ca { -fsb-code-lock: 1; -fsb-reusable-id: 281067ca; -fsb-reusable-name: v1_button; -webkit-border-radius: 3px 3px 3px 3px; -webkit-flex-basis: 50px; border-bottom-color: rgba(212, 212, 212, 1); border-bottom-style: solid; border-bottom-width: 1px; border-left-color: rgba(212, 212, 212, 1); border-left-style: solid; border-left-width: 1px; border-radius: 3px 3px 3px 3px; border-right-color: rgba(212, 212, 212, 1); border-right-style: solid; border-right-width: 1px; border-top-color: rgba(212, 212, 212, 1); border-top-style: solid; border-top-width: 1px; flex-basis: 50px; font-size: 13px; padding-bottom: 2px; padding-left: 0px; padding-right: 0px; padding-top: 2px } 
script(type="text/javascript").
  var __animationHelperDelayedRegisterings = [], __animationHelperDelayedAddings = [];
  var AnimationHelper = {
    extensions: {},
    register: function(animationId, extensionInfo) {
      __animationHelperDelayedRegisterings.push(arguments);
      AnimationHelper.extensions[animationId] = extensionInfo;
    },
    add: function(activeAnimationGroups) {
      __animationHelperDelayedAddings.push(arguments);
      
      for (let animation of activeAnimationGroups) {
        var extensionInfo = AnimationHelper.extensions[animation];
        if (extensionInfo) {
          for (let i=0; i<extensionInfo.tracks.length; i++) {
            AnimationHelper.addPrestartStyles(animation, '0', extensionInfo.tracks[i].selectors || [], extensionInfo.tracks[i].properties || []);
          }
        }
      }
    },
    addPrestartStyles: (animationId, guid, selectors, properties) => {
      var prestartId = `prestart-${animationId}`;
      if (document.getElementById(prestartId)) return;
      
      var combinedStyleHashmap = {};
      
      for (var property of properties) {
        for (var selector of selectors) {
          var style = AnimationHelper.getPrestartStyle(guid, selector, property);
        
          if (style) {
            combinedStyleHashmap[property] = style;
            break;
          }
        }
      }
      
      if (Object.keys(combinedStyleHashmap).length != 0) {
        var element = document.createElement('style');
        element.setAttribute('type', 'text/css');
        element.setAttribute('id', prestartId);
        
        var lines = [];
        for (var selector of selectors) {
          lines.push(`[internal-fsb-animation*="animation-group-${animationId}"]${selector}, [internal-fsb-animation*="animation-group-${animationId}"] ${selector} { ${AnimationHelper.getInlineStyleFromHashMap(combinedStyleHashmap)} }`);
        }
        
        element.innerHTML = lines.join(' ');
        
        var firstStyleElement = document.head.getElementsByTagName('STYLE')[0] || null;
        document.head.insertBefore(element, firstStyleElement);
      }
    },
    getPrestartStyle: (guid, selector, property) => {
      var elements = Array.from(document.querySelectorAll(`[internal-fsb-guid="${guid}"]${selector}, [internal-fsb-guid="${guid}"] ${selector}`));
      
      if (elements.length != 0) {
        var computedStyle = window.getComputedStyle(elements[0], null);
        return computedStyle[property] || null;
      }
      
      return null;
    },
    getInlineStyleFromHashMap: (hash) => {
      var results = [];
      for (var key in hash) {
        if (hash.hasOwnProperty(key) && hash[key] != null) {
          results.push(key + ': ' + hash[key]);
        }
      }
      return results.sort().join('; ');
    }
  };
  window.AnimationHelper !== undefined && (function() { AnimationHelper.add([]); })();
