//- Auto[Generating:V1]--->
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.

.
  <!DOCTYPE html>
html(lang=headers && headers.language || 'en')
  head
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    title.
      #{headers && headers.title || 'Home'}
    meta(name="description" content=headers && headers.description || '')
    meta(name="keywords" content=headers && headers.keywords || '')
    meta(http-equiv="content-language" content=headers && headers.language || 'en')
    meta(http-equiv="content-type" content=headers && headers.contentType || 'UTF-8')
    meta(name="revisit-after" content=headers && headers.revisitAfter || '7 days')
    meta(name="robots" content=headers && headers.robots || 'index, follow')
    meta(property="og:title" content=headers && headers.title || 'Home')
    meta(property="og:url" content=headers && headers.linkUrl || '/')
    meta(property="og:image" content=headers && headers.imageUrl || '')
    meta(property="og:type" content=headers && headers.itemType || 'website')
    meta(property="og:description" content=headers && headers.description || '')
    meta(property="og:locale" content=headers && headers.contentLocale || 'en_US')
    include _header.pug
  body(style="-ms-overflow-y: hidden; overflow-y: hidden")
    
    .internal-fsb-begin(internal-fsb-animation="", internal-fsb-guid="0")
      .internal-fsb-begin-layout.internal-fsb-strict-layout
        .internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'auto', '-webkit-align-content': 'center', 'align-content': 'center', 'min-height': '100vh', 'overflow-x': 'hidden', 'overflow-y': 'auto', 'padding-left': '10px', 'padding-right': '10px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="6c4c24e7")
          .col-12.col-md-8.internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-webkit-align-content': 'center', 'align-content': 'center', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="13cd6d5e")
            span(internal-fsb-init-class="Project.Controls.FlowLayout_81bde3d0")
          .col-12.col-md-4.internal-fsb-element.internal-fsb-inverse.internal-fsb-stretch.internal-fsb-strict-layout(style={'-ms-flex-direction': 'column-reverse', '-webkit-flex-direction': 'column-reverse', '-webkit-justify-content': 'start', 'border-right-color': 'rgba(0, 43, 255, 1)', 'border-right-width': '1px', 'flex-direction': 'column-reverse', 'justify-content': 'start', 'max-height': '100vh', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="19c1ac5c")
            .internal-fsb-element.internal-fsb-strict-layout(style={'color': 'rgba(255, 255, 255, 1)', 'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="9e1ca08e")
              .internal-fsb-element.internal-fsb-strict-layout(style={'padding-left': '0px', 'padding-right': '0px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="d04685d0")
                .internal-fsb-element.internal-fsb-strict-layout(style={'-webkit-flex-basis': '0px', '-webkit-flex-grow': '1', 'flex-basis': '0px', 'flex-grow': '1', 'padding-left': '7px', 'padding-right': '7px', 'padding-top': '5px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="04cd4dcb")
                  .internal-fsb-element.internal-fsb-stretch.internal-fsb-strict-layout(style={'-ms-overflow-x': 'hidden', '-ms-overflow-y': 'hidden', '-webkit-align-content': 'space-between', '-webkit-border-radius': '5px 5px 5px 5px', 'align-content': 'space-between', 'background': 'rgba(66, 117, 255, 1)', 'border-bottom-color': 'rgba(255, 255, 255, 1)', 'border-bottom-width': '1px', 'border-left-color': 'rgba(255, 255, 255, 1)', 'border-left-width': '1px', 'border-radius': '5px 5px 5px 5px', 'border-right-color': 'rgba(255, 255, 255, 1)', 'border-right-width': '1px', 'border-top-color': 'rgba(255, 255, 255, 1)', 'border-top-width': '1px', 'margin-bottom': '10px', 'min-height': '75px', 'overflow-x': 'hidden', 'overflow-y': 'hidden', 'padding-bottom': '5px', 'padding-left': '0px', 'padding-right': '0px', 'padding-top': '5px', 'width': '100%'}, internal-fsb-class="FlowLayout", internal-fsb-guid="804373e5")
                    .internal-fsb-element(style={'font-size': '14px', 'line-height': '1.15em', 'margin-bottom': '5px', 'padding-left': '5px', 'padding-right': '5px', 'width': '100%'}, internal-fsb-guid="9311c93e")
                      .internal-fsb-element(style={'color': 'rgba(181, 228, 255, 1)', 'display': 'inline', 'font-size': '24px'}, internal-fsb-guid="1525a768")
                        | “
                      .internal-fsb-element(style={'display': 'inline', 'font-weight': '500', 'padding-left': '5px', 'padding-right': '5px'}, internal-fsb-guid="36a98c0e")
                        | การทำงานในสหรัฐอเมริกาต้องมีความรับผิดชอบสูง
                      .internal-fsb-element(style={'-fsb-transform': '0.00000000 -19.04762043 0.00000000 -1.00000000 0.00001000 0.00001000 1.00000000 1.00000000 1.00000000', '-moz-transform': 'matrix3d(1, -1.99998e-05, -2.00002e-05, 0, 2.00002e-05, 1, 1.99998e-05, 0, -1.99998e-05, 2.00002e-05, -1, 0, 0, 19.0476, 0, 1)', '-ms-transform': 'matrix3d(1, -1.99998e-05, -2.00002e-05, 0, 2.00002e-05, 1, 1.99998e-05, 0, -1.99998e-05, 2.00002e-05, -1, 0, 0, 19.0476, 0, 1)', '-webkit-transform': 'matrix3d(1, -1.99998e-05, -2.00002e-05, 0, 2.00002e-05, 1, 1.99998e-05, 0, -1.99998e-05, 2.00002e-05, -1, 0, 0, 19.0476, 0, 1)', 'color': 'rgba(181, 228, 255, 1)', 'display': 'inline-block', 'font-size': '24px', 'transform': 'matrix3d(1, -1.99998e-05, -2.00002e-05, 0, 2.00002e-05, 1, 1.99998e-05, 0, -1.99998e-05, 2.00002e-05, -1, 0, 0, 19.0476, 0, 1)'}, internal-fsb-guid="cadbcc68")
                        | ”
                    .internal-fsb-element.internal-fsb-strict-layout(style={'display': 'block', 'font-size': '8px', 'font-style': 'italic', 'line-height': '1.15em', 'padding-bottom': '5px', 'padding-left': '13px', 'padding-right': '5px'}, internal-fsb-class="FlowLayout", internal-fsb-guid="caea5b09")
                      .internal-fsb-element(style={'display': 'inline'}, internal-fsb-guid="beb3997c")
                        | —&nbsp;
                      .internal-fsb-element(style={'display': 'inline'}, internal-fsb-guid="b251ec07")
                        | #{DataManipulationHelper.getDataFromNotation("User.firstname")}
                      .internal-fsb-element(style={'display': 'inline', 'padding-left': '2px'}, internal-fsb-guid="6c6b9917")
                        | #{DataManipulationHelper.getDataFromNotation("User.lastname")}
    script(type="text/javascript" src="/js/libraries/polyfills/polyfill.io.js")
    script(type="text/javascript" src="/js/Embed.bundle.js")
    script(type="text/javascript").
      var Controller = /** @class */ (function () {
          function Controller() {
              this.dictionary = {};
          }
          Controller.prototype.register = function (guid, eventName, functionName, capturing, forward) {
              if (!this.dictionary[guid])
                  this.dictionary[guid] = {};
              this.dictionary[guid][eventName] = [functionName, capturing, forward];
          };
          Controller.prototype.listen = function (guid) {
              if (this.dictionary[guid]) {
                  for (var key in this.dictionary[guid]) {
                      if (this.dictionary[guid].hasOwnProperty(key)) {
                          var eventName = key;
                          var functionName = this.dictionary[guid][key][0];
                          var capturing = !!this.dictionary[guid][key][1];
                          var forward = this.dictionary[guid][key][2];
                          var element = (!forward) ? this.getElementUsingGUID(guid) : this.getElementUsingGUID(guid).firstElementChild;
                          element.addEventListener(eventName, this[functionName].bind(this), capturing);
                      }
                  }
              }
          };
          Controller.prototype.getElementUsingGUID = function (guid) {
              return document.querySelectorAll('[internal-fsb-guid="' + guid + '"]')[0];
          };
          return Controller;
      }());
      var controller = new Controller();
      TestHelper.identify();
      function ready(a) { "loading" != document.readyState ? a(new Event('ready')) : document.addEventListener ? document.addEventListener("DOMContentLoaded", a) : (document.onreadystatechange = function (e) { "complete" == document.readyState && a(e); }); }
      ;
      
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    <link internal-fsb-link="true" href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" class="internal-fsb-accessory internal-fsb-font">
    script(type="text/javascript").
      window.data = !{JSON.stringify(data)};
    include _footer.pug

//- <--- Auto[Generating:V1]
//- PLEASE DO NOT MODIFY BECAUSE YOUR CHANGES MAY BE LOST.